<h1>卡片列表</h1>
<%= link_to "新增卡片", new_card_path %>
<hr>

<form action="/cards/search" method="get">
  <input type="text" name="keyword">
  <button type="submit">搜尋</button>
</form>

<%= paginate @cards %>

<% @cards.each do |card| %>
  <div class="card">
    <header class="card-title">
      <%= link_to card.title, card %>
      <%= link_to "編輯", edit_card_path(card) %>
      <%= link_to "刪除", card, method: :delete, data: { confirm: '確定刪除?' } %>
    </header>

    <div class="card-body">
      <p><%= card.content %></p>
      <%= image_tag card.photo.variant(resize_to_limit: [200, 200])  if card.photo.attached? %>
    </div>
  </div>
<% end %>