<h1>
  <%= @card.title %>
  <a href="#" class="like_btn" data-card-id="<%= @card.id %>">
    <i class="far fa-thumbs-up"></i>
  </a>
</h1>
<p>
  <%= @card.content %>
</p>
<hr>
<%= form_with(model: @comment, url: card_comments_path(@card)) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<ul class="comments">
  <%= render @comments %>
</ul>