<h1><%= @card.title %></h1>
<p>
  <%= @card.content %>
</p>
<hr>
<%= form_with(model: @comment, url: card_comments_path(@card)) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<ul class="comments">
<% @comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
</ul>