<h1 data-controller="icon" data-icon-card-id="<%= @card.id %>">
  <%= @card.title %>
  <a data-action="icon#like" href="#" class="like_btn">
    <% if @card.favorited_by?(current_user) %>
      <i data-icon-target="thumb" class="fas fa-thumbs-up"></i>
    <% else %>
      <i data-icon-target="thumb" class="far fa-thumbs-up"></i>
    <% end %>
  </a>
</h1>

<p>
  <%= @card.content %>
</p>
<hr>
<%= form_with(model: @comment, url: card_comments_path(@card)) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<ul class="comments">
  <%= render @comments %>
</ul>